# Language specific files
.npm
npm-debug.log
node_modules
.sass-cache

# Editor specific project files
.tern-project
*.swp
*.swo

# Data Files
*/*.json
*/*/*.json
*/*-config.js
*/*.bak
api-ast.json
markdown/output.html
!tsconfig.json
_Archive_
_Archive_.zip
README.html
lifelog/summary.md
games-recap/checklist.md

# Hidden Scripts
Cafe.js
cafe/
Extension.js
extension/
Shuttle.js
Shuttle Update.js
shuttle/
Test File.js
Welcome to Scriptable.js

# OS files
.DS_Store
.Trash
